
body {
    background: linear-gradient(90deg, rgba(250,69,252,1) 0%, rgba(114,44,189,1) 40%, rgba(114,44,189,1) 60%, rgba(250,69,252,1) 100%);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}
/*styles for App.js*/
.appWrapper {
    background-color: white;
    width: 800px;
    height: 1300px;
    border-radius: 10px;
    padding-top: 50px;
    max-width: 1200px;
    min-width: 750px;
    flex-direction: column;
}

.congratsText {
    display: flex;
    margin: auto;
    justify-content: center;
    font-size: 2.5rem;
    padding: 10px 0 20px 0;
}

button {
    background-color: rgb(25, 153, 233);
    border: 1px solid black;
    border-radius: 10px;
    width: 120px;
    height:50px;
    font-size: 1.3rem;
    color: white
}

.submit {
    padding: 10px;
    display: flex;
    justify-content: center;
}
.twitterBtn {
    display: flex;
    width: 300px;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.twitterBtnText {
    font-size: 1.5rem;
    padding-left: 10px;
}
/*styles for Navbar.js*/
.navbarWrapper {
    position: absolute;
    background: linear-gradient(45deg, #3a47d5 0%, rgb(25,153,233) 50%, #00d2ff 100% );
    color: white;
    height: 80px;
    width: 800px;
    max-width: 1000px;
    min-width: 750px;
    top:0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbarTitle {
    font-size: 3rem;
}

/*Styles for Home.js*/
.homeWrapper {
    text-align: center;
}
.title{
    font-size: 3em;
    margin: auto;
    padding-top: 200px;
}

.description {
    font-size: 1.5em;
}

img {
    height: 400px;
    width: 400px;
}

.imgWrapper {
    display: flex;
    align-items:center;
    justify-content: center;
    margin: auto;
    width: 300px;
}

.begin {
    display: flex;
    justify-content: center;
    align-items: center;

}
/*Styles for Quiz.js*/
.quizWrapper {
    margin: auto;
    width: 80%;
    background-color: white;
    padding: 10px 5px 10px 0;
    border-bottom: 1px solid grey;
}

.buttonWrapper {
    display: flex;
    padding: 5px 0 20px 0;
}

input {
    display: none;
}

.button {
    color: black;
    border: solid 1px black;
}

.button:hover {
    cursor: pointer;
    box-shadow: 1px 1px 3px 3px grey;
}

input:checked + .button {
    box-shadow: 1px 1px 3px 3px black;
}

.button, .buttonCorrect .buttonIncorrect{
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
}

.buttonCorrect {
    padding: 10px;
    border-Radius: 10px;
    color: black;
    background-color: lightgreen;
    border: 1px solid black;
    font-size: 1.15rem;
    margin: 10px;
}

input:checked + .buttonCorrect {
    box-shadow: 1px 1px 5px 2px green;
    background-color: lightgreen;
    border: 1px solid green;
}
input:checked + .buttonIncorrect {
    box-shadow: 1px 1px 5px 3px red;
    background-color: lightcoral;
    border: 1px solid red;
}